#banner
{
    color: red;
    background-color: black;
}

#getStart
{

}

#questions
{

}

#answer1, answer2, answer3, answer4
{
    background-color: black;
    color: white;
    height: 300px;
    width: 500px;
}
#timer
{

}